<div class="flex h-screen w-screen bg-gray-100 justify-center items-center">

    <!-- Métodos de pagos -->

    <div class="w-full md:w-5/12 flex flex-col justify-start items-center max-h-8/12 overflow-auto bg-white shadow-lg p-5">

        <h2 class="text-xl text-green-500 font-bold text-center mb-2">Donación Planting Future</h2>

        <p-selectbutton styleClass="w-full" [formControl]="paymentOption"
            [options]="[{label:'Una vez',value:true},{label:'Mensual',value:false}]" optionLabel="label"
            optionValue="value" aria-labelledby="basic" class="w-full" />

        <div class="flex justify-center mt-5 w-full">
            <p-iconfield class="w-full">
                <p-inputnumber [formControl]="amountField" mode="decimal" min="3" currency="USD" [minFractionDigits]="2"
                    class="w-full" />
                <p-inputicon styleClass="pi pi-money-bill" />
            </p-iconfield>
        </div>

        <div class="w-11/12 mt-5">
            @if (paymentOption.value) {
            <paypal-order [amount]="amountField.value" class="w-full"></paypal-order>
            }@else {
            <paypal-subscription [amount]="amountField.value" class="w-full"></paypal-subscription>
            }
        </div>
    </div>
</div>
